<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Home
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="static/assets/main.css">
    {% endblock head %}
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li><a href="admin-login">Admin Login</a></li>
            <li><a href="user-login">User Login</a></li>
        </ul>
    </nav>

    <center>
        {% block corousel %}
        <h1>Find Nearby Parking Zones</h1>
        <form method="POST">
            <label>Radius (in Km):</label>
            <input type="number" step="0.01" name="radius" required>
            <br><br>
            <button type="submit">Search</button>
        </form>
    </center>
    <hr>

    {% if slots %}
    <h2 id="slot_head">Zones within {{ radius }} Km </h2>

    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
        {% for slot in slots %}
        <div
            style="border: 1px solid #ccc; border-radius: 10px; padding: 10px; padding-left: 12px; width: 280px; box-shadow: 2px 2px 8px rgba(0,0,0,0.1);">
            <h3 style="margin-bottom: 8px;">Zone ID: {{ slot.slot_id }}</h3>
            <p><strong>Location:</strong> {{ slot.location }}</p>
            <p><strong>Available Slots:</strong> {{ slot.available_slots }}</p>
            <p><strong>Occupied Slots:</strong> {{ slot.occupied_slots }}</p>
            <p><strong>Distance:</strong> {{ "%.2f"|format(slot.distance_Km) }} Km </p>
            <p>><a href="/map?lat={{ slot.latitude }}&lng={{ slot.longitude }}"
                    class="btn btn-primary">
                    Show Route on Map</a>
            </p>
        </div>
        {% endfor %}
    </div>
    {% elif radius %}
    <p>No nearby slots found within {{ radius }} Km.</p>
    {% endif %}
    {% endblock corousel %}
</body>

</html>
